<div class="flex flex-col gap-4 p-10 bg-white rounded-2xl">
    <div class="flex flex-row">
        <div>
            <img class="size-20" src="assets\Icon Cancel.svg" />
        </div>
        <div class="flex-grow-1"></div>
        <div>
            <img width="36" height="36" src="assets\x.svg" />
        </div>
    </div>
    <div class="text-3xl">
        Selected time is not available
    </div>
    <div class="text-neutral-500">
        Please choose a different time slot
    </div>
    <div>
        <button class="text-center bg-blue-600 text-white px-6 rounded-lg py-2">
            Check availability
        </button>
    </div>
</div>
