<div class="flex flex-col gap-4 p-10 bg-white rounded-2xl">
    <div class="flex flex-row">
        <div>
            <img class="size-20" src="assets\Icon Ok.svg" />
        </div>
        <div class="flex-grow-1"></div>
        <div>
            <img width="36" height="36" src="assets\x.svg" />
        </div>
    </div>
    <div class="text-3xl">
        You're all set!
    </div>
    <div class="text-neutral-500">
        Your room for 2 people is booked from <b class="text-black">May 18, 2025 to May 23, 2025</b>. A confirmation has been sent to your email <b class="text-black">maxim.lazar&#64;gmail.com</b>
    </div>
    <div>
        <button class="text-center bg-blue-600 text-white px-6 rounded-lg py-2">
            My bookings
        </button>
    </div>
</div>
