<div class="flex flex-col p-20 gap-10">
    <div class="flex flex-row gap-1">
        <img class="size-6" src="assets\chevron-left.svg" />
        <div class="text-blue-500" routerLink="/coworking-list" routerLinkActive="active">Go back</div>
    </div>
    <div class="text-4xl">Available workspaces</div>
    <div class="flex flex-col gap-6" *ngIf="workspaceGroups$|async as workspaceGroups">
        @for( workspaceGroup of workspaceGroups;track workspaceGroup.workspaceType; let  i = $index){
        <div class="flex flex-row gap-8 p-4 bg-white rounded-2xl">
            <div class="w-4/10">
                <app-photo-gallery [photoSrcs]="getImageSrcs(workspaceGroup.workspaceType)">
                </app-photo-gallery>
            </div>
            <div class="flex flex-col py-3 gap-8">
                <div class="flex flex-row gap-3">
                    <div class="flex flex-col gap-3">
                        <div class="text-3xl">{{getName(workspaceGroup.workspaceType)}}</div>
                        <div class="text-neutral-500">{{getDescription(workspaceGroup.workspaceType)}}</div>
                    </div>
                    <div>
                        <button class="bg-blue-600 text-white px-6 rounded-lg h-12 w-45" routerLink="/booking-form/{{id}}/{{workspaceGroup.workspaceType}}" routerLinkActive="active">Book now</button>
                    </div>
                </div>
                @if(workspaceGroup.workspaceType==0){
                <div class="flex flex-col">
                    <div class="flex flex-row gap-x-20 gap-y-3 flex-wrap">
                        <div class="flex flex-col">
                            <div class="text-lg">Amenities</div>
                            <div class="flex flex-row flex-wrap gap-3">
                                @for( amenity of workspaceGroup.amenities;track amenity; let  i = $index){
                                <div class="p-[10px] rounded-xl bg-[#F5F3FB]">
                                    <img class="size-6" src="{{getAmenitySrc(amenity)}}" />
                                </div>
                                }
                            </div>
                        </div>
                        <div class="flex flex-col">
                            <div class="text-lg">Availability</div>
                            <div class="flex flex-row gap-3 items-center">
                                <div class="p-[10px] rounded-xl bg-[#F5F3FB]">
                                    <img class="size-6" src="assets\armchair.svg" />
                                </div>
                                <div class="text-lg">{{workspaceGroup.freeRooms[0].rooms}} desk{{workspaceGroup.freeRooms[0].rooms==1?"":"s"}}</div>
                            </div>
                        </div>
                    </div>
                </div>
                }
                @else{
                <div class="flex flex-col">
                    <div class="flex flex-row gap-x-20 gap-y-3 flex-wrap">
                        <div class="flex flex-col">
                            <div class="text-lg">Amenities</div>
                            <div class="flex flex-row flex-wrap gap-3">
                                @for( amenity of workspaceGroup.amenities;track amenity; let  i = $index){
                                <div class="p-[10px] rounded-xl bg-[#F5F3FB]">
                                    <img class="size-6" src="{{getAmenitySrc(amenity)}}" />
                                </div>
                                }
                            </div>
                        </div>
                        <div class="flex flex-col">
                            <div class="text-lg">Capacity options</div>
                            <div class="flex flex-row gap-3 items-center">
                                <div class="p-[10px] rounded-xl bg-[#F5F3FB]">
                                    <img class="size-6" src="assets\user.svg" />
                                </div>
                                <div class="text-lg">1, 2, 5, 10 people</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex flex-col gap-1">
                    <div class="text-lg">Availability</div>
                    @for( freeRoom of workspaceGroup.freeRooms;track freeRoom.capacity; let  i = $index){
                    <div class="text-neutral-500"><b class="text-black">{{freeRoom.rooms}} room{{freeRoom.rooms==1?"":"s"}}</b> for {{freeRoom.capacity==1?freeRoom.capacity + " person":"up to "+freeRoom.capacity+" people"}}</div>
                    }
                </div>
                }
                <div *ngIf="workspaceGroup.bookings" class="flex flex-col gap-3">
                    @for(booking of workspaceGroup.bookings;track booking.id; let  i = $index){
                    <div class="flex flex-row gap-2 bg-[#EAF7EE] rounded-lg px-4 py-2">
                        <img class="size-6" src="assets\done.svg" />
                        <div>
                            This workspace is already booked by you! {{booking.seats}} {{booking.seats==1?"desk":"desks"}} <b> {{booking.startDate}} to {{booking.endDate}}</b>
                        </div>
                    </div>
                    }
                </div>
            </div>
        </div>
        }
    </div>
</div>
