<div class="flex flex-col gap-4 p-10 bg-white rounded-2xl">
    <div class="flex flex-row">
        <div>
            <img class="size-20" src="assets\Icon Delete.svg" />
        </div>
        <div class="flex-grow-1"></div>
        <div>
            <img width="36" height="36" src="assets\x.svg" />
        </div>
    </div>
    <div class="text-3xl">
        Cancel your booking?
    </div>
    <div class="text-neutral-500">
        This action cannot be undone
    </div>
    <div class="flex flex-row  items-center gap-3">
        <div class="flex-grow-1">
            <button class="text-center border-blue-600 border-1 text-black px-6 rounded-lg py-2 w-full">
                Yes, cancel it
            </button>
        </div>
        <div class="flex-grow-1">
            <button class="text-center bg-blue-600 text-white px-6 rounded-lg py-2 w-full">
                No, keep it
            </button>
        </div>
    </div>
</div>
